# Results

This notebook is to view the dev_results when evaluating the model.

In [1]:
import json
import os
from pathlib import Path
import pandas as pd
import re

Path.cwd()

PosixPath('/home/yjunteng/t5-for-sparql')

In [ ]:
path = Path("baseline") / "lcquad2" / "preprocessed_data.csv"

In [4]:
model_dict = {
    "small": "text2sparql-t5-small-lcquad2",
    "base": "text2sparql-t5-base-lcquad2",
}

model_key = "small"

model_path = Path().cwd().joinpath('models').joinpath(model_dict[model_key])
model_evals_dir = model_path.joinpath("evaluations")
model_evals_dir = Path(r"baseline/lcquad2")

def retrieve_latest(path, regex):
    latest = 0
    res = None
    for res_path in path.iterdir():
        path_search = re.search(regex, res_path.name, re.IGNORECASE)
        if path_search and int(path_search.group(1)) > latest:
            latest = int(path_search.group(1))
            res = res_path

        print(res)
    
    return res

latest_eval_path = retrieve_latest(model_evals_dir, r"dev_result([0-9]+)")

baseline/lcquad2/small_train_new_mix_dev_result24000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result40000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json
baseline/lcquad2/small_train_new_mix_dev_result56000.json

In [5]:
with open(latest_eval_path) as f:
    latest_eval_json = json.load(f)
df_raw = pd.DataFrame.from_records(latest_eval_json)
df_raw.head()

,input,gold,generated
0,How was Leon Trotsky assassinated? <extra_id_5...,<extra_id_6> <extra_id_39> <extra_id_19> <extr...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
1,What twinned administrative body of Norwich ha...,<extra_id_6> <extra_id_39> <extra_id_19> <extr...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
2,What insecticide has the lowest combustion poi...,<extra_id_6> <extra_id_39> <extra_id_19> <extr...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
3,What is the capital city of the Kingdom of Nav...,<extra_id_6> <extra_id_39> <extra_id_19> <extr...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
4,Which is the BirdLife International ID for Dod...,<extra_id_6> <extra_id_21> <extra_id_39> <extr...,<extra_id_6><extra_id_21><extra_id_39><extra_i...

In [6]:
df_raw= df_raw.convert_dtypes()
df_raw.gold = df_raw.gold.str.replace(" ", "")
df_raw.generated = df_raw.generated.str.replace(" ", "")
df_raw

,input,gold,generated
0,How was Leon Trotsky assassinated? <extra_id_5...,<extra_id_6><extra_id_39><extra_id_19><extra_i...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
1,What twinned administrative body of Norwich ha...,<extra_id_6><extra_id_39><extra_id_19><extra_i...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
2,What insecticide has the lowest combustion poi...,<extra_id_6><extra_id_39><extra_id_19><extra_i...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
3,What is the capital city of the Kingdom of Nav...,<extra_id_6><extra_id_39><extra_id_19><extra_i...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
4,Which is the BirdLife International ID for Dod...,<extra_id_6><extra_id_21><extra_id_39><extra_i...,<extra_id_6><extra_id_21><extra_id_39><extra_i...
...,...,...,...
2413,Who is the occupant of Liberal International? ...,<extra_id_6><extra_id_21><extra_id_39><extra_i...,<extra_id_6><extra_id_21><extra_id_39><extra_i...
2414,what is the start time for Rashi has residence...,<extra_id_6><extra_id_40><extra_id_19><extra_i...,<extra_id_6><extra_id_40><extra_id_19><extra_i...
2415,"Of all the streak colors, how many are pink? <...",<extra_id_6><extra_id_1><extra_id_36><extra_id...,<extra_id_6><extra_id_1><extra_id_36><extra_id...
2416,Who is the Head of State of the Austrian Empi...,<extra_id_6><extra_id_21><extra_id_39><extra_i...,<extra_id_6><extra_id_21><extra_id_39><extra_i...
2417,When was Frederick Sanger awarded a Nobel Proz...,<extra_id_6><extra_id_40><extra_id_41><extra_i...,<extra_id_6><extra_id_40><extra_id_41><extra_i...

In [7]:
df_true = df_raw[df_raw["gold"] == df_raw["generated"]]
df_false = df_raw[df_raw["gold"] != df_raw["generated"]]
assert len(df_raw) == len(df_true) + len(df_false)

In [8]:
print(f"Gold: {df_false.gold.iloc[2]}")
print(f"Gene: {df_false.generated.iloc[2]}")

Gold: <extra_id_6><extra_id_39><extra_id_19><extra_id_33><extra_id_53>q861560<extra_id_54>p1995<extra_id_40><extra_id_38><extra_id_40><extra_id_54>p3095<extra_id_39><extra_id_15>
Gene: <extra_id_6><extra_id_39><extra_id_19><extra_id_33><extra_id_53>q861560<extra_id_54>p3095<extra_id_40><extra_id_38><extra_id_40><extra_id_54>p1995<extra_id_39><extra_id_15>

In [9]:
from src.sparql_processing import process_masked_query

helper = lambda q: process_masked_query(q, Path("/home/yjunteng/t5-for-sparql/baseline/lcquad2/vocab.txt"))

df_false.gold = df_false.loc[:, "gold"].apply(helper)
df_false.generated = df_false.generated.apply(helper)

/tmp/ipykernel_23456/997597911.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_false.gold = df_false.loc[:, "gold"].apply(helper)
/tmp/ipykernel_23456/997597911.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_false.generated = df_false.generated.apply(helper)

In [10]:
def show(n: int):
    print(f'Input: {df_false.input.iloc[n]}')
    print(f'Gold: {df_false.gold.iloc[n]}')
    print(f'Gene: {df_false.generated.iloc[n]}')

In [11]:
for x in [0, 1, 2, 3, 10]:
    show(x)
    print()

Input: What insecticide has the lowest combustion point? <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q181322 insecticide  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q21073024 flammable solid  <extra_id_59> <extra_id_54>  p2107 <extra_id_60>
Gold: select ?vr0 where { ?vr0 wdt: p31 wd: q21073024 . ?vr0 wdt: p2107 ?vr1 . ?vr0 wdt: p31 wd: q181322 } order by asc ( ?vr1 ) limit 5
Gene: select ?vr0 where { ?vr0 wdt: p31 wd: q181322 . ?vr0 wdt: p2107 ?vr1 . ?vr0 wdt: p31 wd: q2107 } order by asc ( ?vr1 ) limit 5

Input: What is the type of government of Saint Christopher in the Historical Period? <extra_id_59> <extra_id_54>  p122 <extra_id_60>  <extra_id_59> <extra_id_53>  q193507 Saint Christopher  <extra_id_59> <extra_id_54>  p2348 <extra_id_60>
Gold: select ?vr0 where { wd: q193507 wdt: p2348 ?vr1 . ?vr1 wdt: p122 ?vr0 }
Gene: select ?vr0 where { wd: q193507 wdt: p122 ?vr1 . ?vr1 wdt: p2348 ?vr0 }

Input: What kind of specialty doctor diagnoses schizotypal personality disorder? <extra_id_59> <extra_id_54>  p1995 <extra_id_60>  <extra_id_59> <extra_id_53>  q861560 schizotypal personality disorder  <extra_id_59> <extra_id_54>  p3095 <extra_id_60>
Gold: select ?vr0 where { wd: q861560 wdt: p1995 ?vr1 . ?vr1 wdt: p3095 ?vr0 }
Gene: select ?vr0 where { wd: q861560 wdt: p3095 ?vr1 . ?vr1 wdt: p1995 ?vr0 }

Input: how many records are held for pole vaulting? <extra_id_59> <extra_id_54>  p1000 <extra_id_60>  <extra_id_59> <extra_id_53>  q185027 pole vault
Gold: select ( count ( ?vr0 ) as ?vr1 ) { ?vr0 wdt: p1000 wd: q185027 }
Gene: select ( count ( ?vr0 ) as ?vr1 ) { wd: q185027 wdt: p1000 ?vr0 }

Input: Which is the melting point of lindane? <extra_id_59> <extra_id_54>  p2101 <extra_id_60>  <extra_id_59> <extra_id_53>  q282003 lindane
Gold: select distinct ?vr0 where { wd: q282003 wdt: p2101 ?vr0 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p2101 wd: q282003 }

In [120]:
for x in range(6, 10):
    show(x)
    print()

Input: In which time zone is Newcastle upon Tyne located? <extra_id_59> <extra_id_53>  q1425428 Newcastle upon Tyne  <extra_id_59> <extra_id_53>  q6655 UTC+01:00  <extra_id_59>  <extra_id_56>  p421 located in time zone  <extra_id_59>  <extra_id_55>  p421 located in time zone  <extra_id_59> <extra_id_57>  p1264 valid in period
Gold: select ?vr1 where { wd: q1425428 p: p421 ?vr0 . ?vr0 ps: p421 wd: q6655 . ?vr0 pq: p1264 ?vr1 }
Gene: select ?vr0 where { wd: q1425428 p: p421 ?vr1 . ?vr1 ps: p421 ?vr0 . ?vr1 pq: p1264 wd: q6655 }

Input: In what branch of Chemistry would you study the properties of peat? <extra_id_59> <extra_id_53>  q184624 peat  <extra_id_59> <extra_id_53>  q11790203 branch of chemistry  <extra_id_59> <extra_id_54>  p2578 studies  <extra_id_59> <extra_id_54>  p31 instance of
Gold: select distinct ?vr0 where { ?vr0 wdt: p2578 wd: q184624 . ?vr0 wdt: p31 wd: q11790203 }
Gene: select distinct ?vr0 where { wd: q184624 wdt: p2578 ?vr0 . ?vr0 wdt: p31 wd: q11790203 }

Input: What movie is named after Denzel Washington? <extra_id_59> <extra_id_53>  q42101 Denzel Washington  <extra_id_59> <extra_id_53>  q1371849 filmography  <extra_id_59> <extra_id_54>  p138 named after  <extra_id_59> <extra_id_54>  p31 instance of
Gold: select distinct ?vr0 where { ?vr0 wdt: p138 wd: q42101 . ?vr0 wdt: p31 wd: q1371849 }
Gene: select distinct ?vr0 where { wd: q42101 wdt: p138 ?vr0 . ?vr0 wdt: p31 wd: q1371849 }

Input: What is tourist office for  office ? <extra_id_59> <extra_id_53>  q182060 office  <extra_id_59> <extra_id_54>  p2872 visitor centre
Gold: select distinct ?vr0 where { ?vr0 wdt: p2872 wd: q182060 }
Gene: select distinct ?vr0 where { wd: q182060 wdt: p2872 ?vr0 }

In [12]:
for x in range(10,16):
    show(x)
    print()

Input: Which is the melting point of lindane? <extra_id_59> <extra_id_54>  p2101 <extra_id_60>  <extra_id_59> <extra_id_53>  q282003 lindane
Gold: select distinct ?vr0 where { wd: q282003 wdt: p2101 ?vr0 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p2101 wd: q282003 }

Input: Which kind of weather caused by coldburst contains the word "rain" in its name ? <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_54>  p828 <extra_id_60>  <extra_id_59> <extra_id_53>  q1292121 shower  <extra_id_59> <extra_id_53>  q11663 weather
Gold: select distinct ?vr0 ?vr0_label where { ?vr0 wdt: p31 wd: q11663 . ?vr0 wdt: p828 wd: q1292121 . ?vr0 rdfs:label ?vr0_label . filter ( contains ( lcase ( ?vr0_label ) , ' rain ' ) ) . filter ( lang ( ?vr0_label ) = ' en ' ) } limit 25
Gene: select distinct ?vr0 ?vr0_label where { ?vr0 wdt: p31 wd: q1292121 . ?vr0 wdt: p828 wd: q11663 . ?vr0 rdfs:label ?vr0_label . filter ( contains ( lcase ( ?vr0_label ) , ' rain ' ) ) . filter ( lang ( ?vr0_label ) = ' en ' ) } limit 25

Input: Name the country associated with Himachal Pradesh. <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q1177 Himachal Pradesh  <extra_id_59> <extra_id_53>  q6256 country  <extra_id_59> <extra_id_54>  p17 <extra_id_60>
Gold: select distinct ?vr0 where { wd: q1177 wdt: p17 ?vr0 . ?vr0 wdt: p31 wd: q6256 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p17 wd: q1177 . ?vr0 wdt: p31 wd: q6256 }

Input: What sovereign state belonging to the International Finance Corporation has the lowest unemployment rate? <extra_id_59> <extra_id_54>  p1198 <extra_id_60>  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q656801 International Finance Corporation  <extra_id_59> <extra_id_54>  p463 <extra_id_60>  <extra_id_59> <extra_id_53>  q3624078 sovereign state
Gold: select ?vr0 where { ?vr0 wdt: p31 wd: q3624078 . ?vr0 wdt: p1198 ?vr1 . ?vr0 wdt: p463 wd: q656801 } order by asc ( ?vr1 ) limit 5
Gene: select ?vr0 where { ?vr0 wdt: p31 wd: q3624078 . ?vr0 wdt: p1198 ?vr1 . ?vr0 wdt: p463 wd: q656801 . } order by asc ( ?vr1 ) limit 5

Input: What is plays of Axl Rose Fernando that has discovered is Bartolomeo Cristofori? <extra_id_59> <extra_id_53>  q11885 Axl Rose  <extra_id_59> <extra_id_54>  p1303 <extra_id_60>  <extra_id_59> <extra_id_54>  p61 <extra_id_60>  <extra_id_59> <extra_id_53>  q301597 Bartolomeo Cristofori
Gold: select ?vr0 where { wd: q11885 wdt: p1303 ?vr0 . ?vr0 wdt: p61 wd: q301597 }
Gene: select ?vr0 where { wd: q11885 wdt: p61 ?vr0 . ?vr0 wdt: p1303 wd: q301597 }

Input: When did the Pridnestrovian Moldavian Republic have the head of state of Yevgeny Shevchuk? <extra_id_59>  <extra_id_56>  p35 <extra_id_60>  <extra_id_59> <extra_id_57>  p39 <extra_id_60>  <extra_id_59> <extra_id_53>  q907112 Transnistria  <extra_id_59> <extra_id_53>  q188409 Yevgeny Shevchuk  <extra_id_59>  <extra_id_55>  p35 <extra_id_60>
Gold: select ?vr1 where { wd: q907112 p: p35 ?vr0 . ?vr0 ps: p35 wd: q188409 . ?vr0 pq: p39 ?vr1 }
Gene: select ?vr1 where { wd: q188409 p: p35 ?vr0 . ?vr0 ps: p35 wd: q907112 . ?vr0 pq: p39 ?vr1 }