In [12]:
import pandas as pd
import re
import json
from pathlib import Path
from pprint import pprint

Path.cwd()

PosixPath('/home/yjunteng/t5-for-sparql/result_notebooks')

In [13]:
result_dir = Path.cwd().parent / "models" / "longt5"

for f in result_dir.iterdir():
  if f.is_file() and f.suffix == ".json":
    print(f.name)

result_path = result_dir / "val_18.json"

val_1.json
val_18.json
val_2.json
val_12.json
val_8.json
val_19.json
val_10.json
val_13.json
val_9.json
val_14.json
val_17.json
val_11.json
val_3.json
val_16.json
val_7.json
val_15.json
val_0.json
val_5.json
val_4.json
val_6.json

In [14]:
with open(result_path) as f:
  result_json = json.load(f)

df_raw = pd.DataFrame(result_json).convert_dtypes()
print(f"Number of results: {len(df_raw)}")
print("Dtypes")
pprint(df_raw.dtypes)
df_raw.head()

Number of results: 2418
Dtypes
Ques    string
Gold    string
Gene    string
dtype: object

,Ques,Gold,Gene
0,WHERE IS THE PUBLIC OFFICE OF THE PORTRAIT IF ...,<extra_id_6> <extra_id_39> <extra_id_19> <extr...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
1,What is had underlying cause of main events of...,<extra_id_6> <extra_id_39> <extra_id_19> <extr...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
2,What is Robert Falcon Scott's Dreadnought Proj...,<extra_id_6> <extra_id_21> <extra_id_39> <extr...,<extra_id_6><extra_id_21><extra_id_39><extra_i...
3,What award did Yury Romanenko receive in 1976?...,<extra_id_6> <extra_id_39> <extra_id_19> <extr...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
4,Was Ignazio Marino the head of government of R...,<extra_id_4> <extra_id_19> <extra_id_33> <extr...,<extra_id_4><extra_id_19><extra_id_33><extra_i...

In [15]:
df_raw["gold"] = df_raw.Gold.str.replace(" ", "")
df_raw["gene"]= df_raw.Gene.str.replace(" ","").str.replace("</s>", "").str.replace("<pad>","")

In [16]:
df_true = df_raw[df_raw.gold == df_raw.gene].loc[:,("Ques", "gold", "gene")]
df_false = df_raw[df_raw.gold != df_raw.gene].loc[:,("Ques", "gold", "gene")]

In [17]:
print(f"True rate: {len(df_true) / len(df_raw)}")
print(f"False rate: {len(df_false) / len(df_raw)}")

True rate: 0.771712158808933
False rate: 0.228287841191067

In [18]:
print(df_false.gold.iloc[1])
print(df_false.gene.iloc[1])

<extra_id_6><extra_id_21><extra_id_39><extra_id_46><extra_id_19><extra_id_33><extra_id_39><extra_id_54>p31<extra_id_53>q1328899<extra_id_38><extra_id_39><extra_id_2><extra_id_46><extra_id_38><extra_id_22><extra_id_1><extra_id_29><extra_id_1><extra_id_23><extra_id_1><extra_id_46><extra_id_12><extra_id_31><extra_id_34>t13<extra_id_34><extra_id_12><extra_id_12><extra_id_38><extra_id_22><extra_id_1><extra_id_13><extra_id_1><extra_id_46><extra_id_12><extra_id_37><extra_id_34>en<extra_id_34><extra_id_12><extra_id_15><extra_id_8>25
<extra_id_6><extra_id_21><extra_id_39><extra_id_46><extra_id_19><extra_id_33><extra_id_39><extra_id_54>p31<extra_id_53>q1328899<extra_id_38><extra_id_39><extra_id_2><extra_id_46><extra_id_38><extra_id_22><extra_id_1><extra_id_32><extra_id_1><extra_id_23><extra_id_1><extra_id_46><extra_id_12><extra_id_31><extra_id_34>t13<extra_id_34><extra_id_12><extra_id_12><extra_id_38><extra_id_22><extra_id_1><extra_id_13><extra_id_1><extra_id_46><extra_id_12><extra_id_37><extra_id_34>en<extra_id_34><extra_id_12><extra_id_15><extra_id_8>25

In [19]:
# import requi9red module
import sys
 
# append the path of the
# parent directory
sys.path.append("..")

from src.pipeline.baselines.LCQ2Processor import BaselineMasker

masker = BaselineMasker("../src/pipeline/baselines/vocab.json")
# print(masker.vocab_unmask)

def _unmask(text):
  return text.replace(">", "> ").replace("<", " <").replace("  "," ")

for i in range(20, 33):
  print("Ques:", masker.unmask(df_false.Ques.iloc[i]))
  print("Gene:", masker.unmask(_unmask(df_false.gene.iloc[i])))
  print("Gold:", masker.unmask(_unmask(df_false.gold.iloc[i])))
  print()

Ques: As a higher taxon of Abies, name the plant known by the common name of ( script). [DEF] wd: q25350 Abies [DEF] wdt: p171 parent taxon [DEF] wdt: p1843 taxon common name
Gene: select ?vr0 where { wd: q25350 wdt: p171 ?vr1 . ?vr0 wdt: p1843 ?vr1 filter ( contains ( ?vr1 , ' <unk> ' ) ) }
Gold: select ?vr0 where { wd: q25350 wdt: p171 ?vr0 . ?vr0 wdt: p1843 ?vr1 filter ( contains ( ?vr1 , ' 松科 ' ) ) }

Ques: From what country is F. Scott Fitzgerald, who was born in St. Paul? [DEF] wd: q93354 F. Scott Fitzgerald [DEF] wd: q28848 Saint Paul [DEF] p: p19 place of birth [DEF] ps: p19 place of birth [DEF] pq: p17 country
Gene: select ?vr0 where { wd: q93354 p: p19 ?vr0 . ?vr0 ps: p19 wd: q28848 . ?vr0 pq: p17 ?vr1 }
Gold: select ?vr1 where { wd: q93354 p: p19 ?vr0 . ?vr0 ps: p19 wd: q28848 . ?vr0 pq: p17 ?vr1 }

Ques: Is schizophrenia commd10 genetically? [DEF] wd: q41112 schizophrenia [DEF] wd: q18040268 COMMD10 [DEF] p: p2293 genetic association [DEF] ps: p2293 genetic association [DEF] pq: p459 determination method
Gene: select ?vr0 where { wd: q41112 p: p2293 ?vr0 . ?vr0 ps: p2293 wd: q18040268 . ?vr0 pq: p459 ?vr1 }
Gold: select ?vr1 where { wd: q41112 p: p2293 ?vr0 . ?vr0 ps: p2293 wd: q18040268 . ?vr0 pq: p459 ?vr1 }

Ques: Is the PPP GDP per capita of Poland equal to $31,362.36? [DEF] wd: q36 Poland [DEF] wdt: p2299 PPP GDP per capita
Gene: ask where { wd: q36 wdt: p2299 ?vr0 filter ( ?vr0 = 3 . 36 . 36 ) }
Gold: ask where { wd: q36 wdt: p2299 ?vr0 filter ( ?vr0 = 31362 . 36 ) }

Ques: Which is recorded at the Cologne Cathedral? [DEF] wd: q4176 Cologne Cathedral [DEF] wdt: p483 recorded at studio or venue
Gene: select distinct ?vr0 where { wd: wdt: p483 wd: q4176 }
Gold: select distinct ?vr0 where { ?vr0 wdt: p483 wd: q4176 }

Ques: n/a [DEF] wd: q171877 hydrogen peroxide [DEF] wd: q12136 disease [DEF] wdt: p2176 drug or therapy used for treatment [DEF] wdt: p31 instance of
Gene: select distinct ?vr0 where { wd: wdt: p2176 wd: q171877 . ?vr0 wdt: p31 wd: q12136 }
Gold: select distinct ?vr0 where { ?vr0 wdt: p2176 wd: q171877 . ?vr0 wdt: p31 wd: q12136 }

Ques: What was Scott Kelly’s job on expedition 26 launched on November 26, 2011? [DEF] wd: q362190 Scott Kelly [DEF] p: p39 position held [DEF] ps: p39 position held [DEF] pq: p580 start time
Gene: select ?vr0 where { wd: q362190 p: p39 ?vr1 . ?vr1 ps: p39 ?vr0 . ?vr1 pq: p580 ?vr2 filter ( contains ( year ( ?vr2 ) , ' 2011 ' ) ) }
Gold: select ?vr0 where { wd: q362190 p: p39 ?vr1 . ?vr1 ps: p39 ?vr0 . ?vr1 pq: p580 ?vr2 filter ( contains ( year ( ?vr2 ) , ' 2010 ' ) ) }

Ques: Who is Paul Anderson's spouse? [DEF] wd: q220883 Poul Anderson [DEF] wdt: p26 spouse
Gene: select distinct ?vr0 where { wd: wdt: p26 wd: q220883 }
Gold: select distinct ?vr0 where { ?vr0 wdt: p26 wd: q220883 }

Ques: Tell me intelligence agency whose name has the word stations in it. [DEF] wd: q47913 intelligence agency [DEF] wdt: p31 instance of
Gene: select distinct ?vr0 ?vr0_label where { ?vr0 wdt: p31 wd: q47913 . ?vr0 rdfs:label ?vr0_label . filter ( contains ( lcase ( ?vr0_label ) , ' origin ' ) ) . filter ( lang ( ?vr0_label ) = ' en ' ) } limit 25
Gold: select distinct ?vr0 ?vr0_label where { ?vr0 wdt: p31 wd: q47913 . ?vr0 rdfs:label ?vr0_label . filter ( contains ( lcase ( ?vr0_label ) , ' stations ' ) ) . filter ( lang ( ?vr0_label ) = ' en ' ) } limit 25

Ques: n/a [DEF] wd: q79965 Golden Horde [DEF] wd: q58778 system [DEF] wdt: p17 country [DEF] wdt: p31 instance of
Gene: select distinct ?vr0 where { wd: wdt: p17 wd: q79965 . ?vr0 wdt: p31 wd: q58778 }
Gold: select distinct ?vr0 where { ?vr0 wdt: p17 wd: q79965 . ?vr0 wdt: p31 wd: q58778 }

Ques: What was the culture of the Minoan civilization? [DEF] wd: q134178 Minoan civilization [DEF] wd: q465299 archaeological culture [DEF] wdt: p1382 partially coincident with [DEF] wdt: p31 instance of
Gene: select distinct ?vr0 where { wd: wdt: p1382 wd: q134178 . ?vr0 wdt: p31 wd: q465299 }
Gold: select distinct ?vr0 where { ?vr0 wdt: p1382 wd: q134178 . ?vr0 wdt: p31 wd: q465299 }

Ques: What were people born in the Ottoman Empire called? [DEF] wd: q12560 Ottoman Empire [DEF] wd: q5 human [DEF] wdt: p27 country of citizenship [DEF] wdt: p31 instance of
Gene: select distinct ?vr0 where { wd: wdt: p27 wd: q12560 . ?vr0 wdt: p31 wd: q5 }
Gold: select distinct ?vr0 where { ?vr0 wdt: p27 wd: q12560 . ?vr0 wdt: p31 wd: q5 }

Ques: Name a song composed by Billie Holliday [DEF] wd: q104358 Billie Holiday [DEF] wd: q7366 song [DEF] wdt: p86 composer [DEF] wdt: p31 instance of
Gene: select distinct ?vr0 where { wd: wdt: p86 wd: q104358 . ?vr0 wdt: p31 wd: q7366 }
Gold: select distinct ?vr0 where { ?vr0 wdt: p86 wd: q104358 . ?vr0 wdt: p31 wd: q7366 }