# Results

This notebook is to view the dev_results when evaluating the model.

In [1]:
import json
import os
from pathlib import Path
import pandas as pd
import re

Path.cwd()

PosixPath('/home/yjunteng/t5-for-sparql/result_notebooks')

In [2]:
path = Path.cwd().parent / "baseline" / "lcquad2" / "preprocessed_data.csv"

In [3]:
model_dict = {
    "small": "text2sparql-t5-small-lcquad2-90dev",
    "base": "text2sparql-t5-base-lcquad2-90dev",
}

model_key = "small"

model_path = Path.cwd().parent.joinpath('models').joinpath(model_dict[model_key])
model_evals_dir = model_path.joinpath("evaluations")
# model_evals_dir = Path(r"../baseline/lcquad2")

def retrieve_latest(path, regex):
    latest = 0
    res = None
    for res_path in path.iterdir():
        path_search = re.search(regex, res_path.name, re.IGNORECASE)
        if path_search and int(path_search.group(1)) > latest:
            latest = int(path_search.group(1))
            res = res_path

        # print(res)
    
    return res

latest_eval_path = retrieve_latest(model_evals_dir, r"dev_result_([0-9]+)")

In [4]:
with open(latest_eval_path) as f:
    latest_eval_json = json.load(f)
df_raw = pd.DataFrame.from_records(latest_eval_json)
df_raw.head()

,input,gold,generated
0,Tell me archaeological site whose name has the...,<extra_id_6> <extra_id_21> <extra_id_39> <extr...,<extra_id_6><extra_id_21><extra_id_39><extra_i...
1,How many have the facet polytope rectangle ? <...,<extra_id_6> <extra_id_1> <extra_id_36> <extra...,<extra_id_6><extra_id_1><extra_id_36><extra_id...
2,What is the formation of Zero Mostel with subs...,<extra_id_6> <extra_id_39> <extra_id_19> <extr...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
3,"In the Diocese of Lapua, which church is the s...",<extra_id_6> <extra_id_39> <extra_id_19> <extr...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
4,What is a phase change that starts with the le...,<extra_id_6> <extra_id_21> <extra_id_39> <extr...,<extra_id_6><extra_id_21><extra_id_39><extra_i...

In [5]:
df_raw= df_raw.convert_dtypes()
df_raw.gold = df_raw.gold.str.replace(" ", "")
df_raw.generated = df_raw.generated.str.replace(" ", "")
df_raw

,input,gold,generated
0,Tell me archaeological site whose name has the...,<extra_id_6><extra_id_21><extra_id_39><extra_i...,<extra_id_6><extra_id_21><extra_id_39><extra_i...
1,How many have the facet polytope rectangle ? <...,<extra_id_6><extra_id_1><extra_id_36><extra_id...,<extra_id_6><extra_id_1><extra_id_36><extra_id...
2,What is the formation of Zero Mostel with subs...,<extra_id_6><extra_id_39><extra_id_19><extra_i...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
3,"In the Diocese of Lapua, which church is the s...",<extra_id_6><extra_id_39><extra_id_19><extra_i...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
4,What is a phase change that starts with the le...,<extra_id_6><extra_id_21><extra_id_39><extra_i...,<extra_id_6><extra_id_21><extra_id_39><extra_i...
...,...,...,...
21757,Name an infectious disease that afflicts liver...,<extra_id_6><extra_id_21><extra_id_39><extra_i...,<extra_id_6><extra_id_21><extra_id_39><extra_i...
21758,IS THE BOILING POINT OF THE METHANOL EQUALS TO...,<extra_id_4><extra_id_19><extra_id_33><extra_i...,<extra_id_4><extra_id_19><extra_id_33><extra_i...
21759,Which is the College de France professor ID (1...,<extra_id_6><extra_id_21><extra_id_39><extra_i...,<extra_id_6><extra_id_21><extra_id_39><extra_i...
21760,"What type of people live in Fresno, California...",<extra_id_6><extra_id_39><extra_id_19><extra_i...,<extra_id_6><extra_id_39><extra_id_19><extra_i...
21761,For which film did Anil Kapoor win a Screen Ac...,<extra_id_6><extra_id_21><extra_id_39><extra_i...,<extra_id_6><extra_id_21><extra_id_39><extra_i...

In [6]:
df_true = df_raw[df_raw["gold"] == df_raw["generated"]]
df_false = df_raw[df_raw["gold"] != df_raw["generated"]]
assert len(df_raw) == len(df_true) + len(df_false)

In [7]:
print("True:", len(df_true)/ len(df_raw))
print("False:", len(df_false)/ len(df_raw))

True: 0.8006157522286554
False: 0.19938424777134456

In [8]:
print(f"Gold: {df_false.gold.iloc[2]}")
print(f"Gene: {df_false.generated.iloc[2]}")

Gold: <extra_id_6><extra_id_39><extra_id_19><extra_id_33><extra_id_53>q49941<extra_id_56>p26<extra_id_40><extra_id_38><extra_id_40><extra_id_55>p26<extra_id_39><extra_id_38><extra_id_40><extra_id_57>p580<extra_id_41><extra_id_22><extra_id_1><extra_id_29><extra_id_1><extra_id_14><extra_id_1><extra_id_41><extra_id_12><extra_id_31><extra_id_34>1991<extra_id_34><extra_id_12><extra_id_12><extra_id_15>
Gene: <extra_id_6><extra_id_39><extra_id_19><extra_id_33><extra_id_53>q49941<extra_id_56>p26<extra_id_40><extra_id_38><extra_id_40><extra_id_55>p26<extra_id_39><extra_id_38><extra_id_40><extra_id_57>p580<extra_id_41><extra_id_22><extra_id_1><extra_id_29><extra_id_1><extra_id_14><extra_id_1><extra_id_41><extra_id_12><extra_id_31><extra_id_34>1999<extra_id_34><extra_id_12><extra_id_12><extra_id_15>

In [9]:
import sys
sys.path.append('../src')
from src.sparql_processing import process_masked_query

helper = lambda q: process_masked_query(q, Path("/home/yjunteng/t5-for-sparql/baseline/lcquad2/vocab.txt"))

df_false.gold = df_false.loc[:, "gold"].apply(helper)
df_false.generated = df_false.generated.apply(helper)

ModuleNotFoundError: No module named 'src'

In [ ]:
def show(n: int):
    print(f'Input: {df_false.input.iloc[n]}')
    print(f'Gold: {df_false.gold.iloc[n]}')
    print(f'Gene: {df_false.generated.iloc[n]}')

## Sample False Generated Queries

In [ ]:
for x in range(100):
    show(x)
    print()

Input: What insecticide has the lowest combustion point? <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q181322 insecticide  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q21073024 flammable solid  <extra_id_59> <extra_id_54>  p2107 <extra_id_60>
Gold: select ?vr0 where { ?vr0 wdt: p31 wd: q21073024 . ?vr0 wdt: p2107 ?vr1 . ?vr0 wdt: p31 wd: q181322 } order by asc ( ?vr1 ) limit 5
Gene: select ?vr0 where { ?vr0 wdt: p31 wd: q181322 . ?vr0 wdt: p2107 ?vr1 . ?vr0 wdt: p31 wd: q2107 } order by asc ( ?vr1 ) limit 5

Input: What is the type of government of Saint Christopher in the Historical Period? <extra_id_59> <extra_id_54>  p122 <extra_id_60>  <extra_id_59> <extra_id_53>  q193507 Saint Christopher  <extra_id_59> <extra_id_54>  p2348 <extra_id_60>
Gold: select ?vr0 where { wd: q193507 wdt: p2348 ?vr1 . ?vr1 wdt: p122 ?vr0 }
Gene: select ?vr0 where { wd: q193507 wdt: p122 ?vr1 . ?vr1 wdt: p2348 ?vr0 }

Input: What kind of specialty doctor diagnoses schizotypal personality disorder? <extra_id_59> <extra_id_54>  p1995 <extra_id_60>  <extra_id_59> <extra_id_53>  q861560 schizotypal personality disorder  <extra_id_59> <extra_id_54>  p3095 <extra_id_60>
Gold: select ?vr0 where { wd: q861560 wdt: p1995 ?vr1 . ?vr1 wdt: p3095 ?vr0 }
Gene: select ?vr0 where { wd: q861560 wdt: p3095 ?vr1 . ?vr1 wdt: p1995 ?vr0 }

Input: how many records are held for pole vaulting? <extra_id_59> <extra_id_54>  p1000 <extra_id_60>  <extra_id_59> <extra_id_53>  q185027 pole vault
Gold: select ( count ( ?vr0 ) as ?vr1 ) { ?vr0 wdt: p1000 wd: q185027 }
Gene: select ( count ( ?vr0 ) as ?vr1 ) { wd: q185027 wdt: p1000 ?vr0 }

Input: Who is the person that was a student of Ivan Pavlov? <extra_id_59> <extra_id_53>  q5 human  <extra_id_59> <extra_id_53>  q42985 Ivan Pavlov  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_54>  p1066 <extra_id_60>
Gold: select distinct ?vr0 where { wd: q42985 wdt: p1066 ?vr0 . ?vr0 wdt: p31 wd: q5 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p1066 wd: q42985 . ?vr0 wdt: p31 wd: q5 }

Input: What is a afflicts of red blood cell? <extra_id_59> <extra_id_53>  q37187 red blood cell  <extra_id_59> <extra_id_54>  p689 <extra_id_60>
Gold: select distinct ?vr0 where { ?vr0 wdt: p689 wd: q37187 }
Gene: select distinct ?vr0 where { wd: q37187 wdt: p689 ?vr0 }

Input: Who is the human with the MIN(Erdős number) whose occupation is mathematician ? <extra_id_59> <extra_id_54>  p106 <extra_id_60>  <extra_id_59> <extra_id_53>  q170790 mathematician  <extra_id_59> <extra_id_54>  p2021 <extra_id_60>  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q5 human
Gold: select ?vr0 where { ?vr0 wdt: p31 wd: q5 . ?vr0 wdt: p2021 ?vr1 . ?vr0 wdt: p106 wd: q170790 . } order by asc ( ?vr1 ) limit 5
Gene: select ?vr0 where { ?vr0 wdt: p31 wd: q5 . ?vr0 wdt: p2021 ?vr1 . ?vr0 wdt: p106 wd: q170790 } order by asc ( ?vr1 ) limit 5

Input: Is it true that the number of works of the Boston Public Library is more than 17880000.0? <extra_id_59> <extra_id_53>  q894583 Boston Public Library  <extra_id_59> <extra_id_54>  p3740 <extra_id_60>
Gold: ask where { wd: q894583 wdt: p3740 ?vr0 filter ( ?vr0 > 17880000 . 0 ) }
Gene: ask where { wd: q894583 wdt: p3740 ?vr0 filter ( ?vr0 > 1788000 . 0 ) }

Input: Where is the name of the continent of the mountain belt in Mount Caywood? <extra_id_59> <extra_id_54>  p30 <extra_id_60>  <extra_id_59> <extra_id_53>  q6920087 Mount Caywood  <extra_id_59> <extra_id_54>  p4552 <extra_id_60>
Gold: select ?vr0 where { wd: q6920087 wdt: p4552 ?vr1 . ?vr1 wdt: p30 ?vr0 }
Gene: select ?vr0 where { wd: q6920087 wdt: p30 ?vr1 . ?vr1 wdt: p4552 ?vr0 }

Input: How many people are on the New York Yankees? <extra_id_59> <extra_id_54>  p466 <extra_id_60>  <extra_id_59> <extra_id_53>  q213417 New York Yankees
Gold: select ( count ( ?vr0 ) as ?vr1 ) { ?vr0 wdt: p466 wd: q213417 }
Gene: select ( count ( ?vr0 ) as ?vr1 ) { wd: q213417 wdt: p466 ?vr0 }

Input: Which is the melting point of lindane? <extra_id_59> <extra_id_54>  p2101 <extra_id_60>  <extra_id_59> <extra_id_53>  q282003 lindane
Gold: select distinct ?vr0 where { wd: q282003 wdt: p2101 ?vr0 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p2101 wd: q282003 }

Input: Which kind of weather caused by coldburst contains the word "rain" in its name ? <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_54>  p828 <extra_id_60>  <extra_id_59> <extra_id_53>  q1292121 shower  <extra_id_59> <extra_id_53>  q11663 weather
Gold: select distinct ?vr0 ?vr0_label where { ?vr0 wdt: p31 wd: q11663 . ?vr0 wdt: p828 wd: q1292121 . ?vr0 rdfs:label ?vr0_label . filter ( contains ( lcase ( ?vr0_label ) , ' rain ' ) ) . filter ( lang ( ?vr0_label ) = ' en ' ) } limit 25
Gene: select distinct ?vr0 ?vr0_label where { ?vr0 wdt: p31 wd: q1292121 . ?vr0 wdt: p828 wd: q11663 . ?vr0 rdfs:label ?vr0_label . filter ( contains ( lcase ( ?vr0_label ) , ' rain ' ) ) . filter ( lang ( ?vr0_label ) = ' en ' ) } limit 25

Input: Name the country associated with Himachal Pradesh. <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q1177 Himachal Pradesh  <extra_id_59> <extra_id_53>  q6256 country  <extra_id_59> <extra_id_54>  p17 <extra_id_60>
Gold: select distinct ?vr0 where { wd: q1177 wdt: p17 ?vr0 . ?vr0 wdt: p31 wd: q6256 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p17 wd: q1177 . ?vr0 wdt: p31 wd: q6256 }

Input: What sovereign state belonging to the International Finance Corporation has the lowest unemployment rate? <extra_id_59> <extra_id_54>  p1198 <extra_id_60>  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q656801 International Finance Corporation  <extra_id_59> <extra_id_54>  p463 <extra_id_60>  <extra_id_59> <extra_id_53>  q3624078 sovereign state
Gold: select ?vr0 where { ?vr0 wdt: p31 wd: q3624078 . ?vr0 wdt: p1198 ?vr1 . ?vr0 wdt: p463 wd: q656801 } order by asc ( ?vr1 ) limit 5
Gene: select ?vr0 where { ?vr0 wdt: p31 wd: q3624078 . ?vr0 wdt: p1198 ?vr1 . ?vr0 wdt: p463 wd: q656801 . } order by asc ( ?vr1 ) limit 5

Input: What is plays of Axl Rose Fernando that has discovered is Bartolomeo Cristofori? <extra_id_59> <extra_id_53>  q11885 Axl Rose  <extra_id_59> <extra_id_54>  p1303 <extra_id_60>  <extra_id_59> <extra_id_54>  p61 <extra_id_60>  <extra_id_59> <extra_id_53>  q301597 Bartolomeo Cristofori
Gold: select ?vr0 where { wd: q11885 wdt: p1303 ?vr0 . ?vr0 wdt: p61 wd: q301597 }
Gene: select ?vr0 where { wd: q11885 wdt: p61 ?vr0 . ?vr0 wdt: p1303 wd: q301597 }

Input: When did the Pridnestrovian Moldavian Republic have the head of state of Yevgeny Shevchuk? <extra_id_59>  <extra_id_56>  p35 <extra_id_60>  <extra_id_59> <extra_id_57>  p39 <extra_id_60>  <extra_id_59> <extra_id_53>  q907112 Transnistria  <extra_id_59> <extra_id_53>  q188409 Yevgeny Shevchuk  <extra_id_59>  <extra_id_55>  p35 <extra_id_60>
Gold: select ?vr1 where { wd: q907112 p: p35 ?vr0 . ?vr0 ps: p35 wd: q188409 . ?vr0 pq: p39 ?vr1 }
Gene: select ?vr1 where { wd: q188409 p: p35 ?vr0 . ?vr0 ps: p35 wd: q907112 . ?vr0 pq: p39 ?vr1 }

Input: Where is the location in which the biscuit is produced? <extra_id_59> <extra_id_54>  p276 <extra_id_60>  <extra_id_59> <extra_id_54>  p2079 <extra_id_60>  <extra_id_59> <extra_id_53>  q13270 biscuit
Gold: select ?vr0 where { wd: q13270 wdt: p2079 ?vr1 . ?vr1 wdt: p276 ?vr0 }
Gene: select ?vr0 where { wd: q13270 wdt: p276 ?vr1 . ?vr1 wdt: p2079 ?vr0 }

Input: What are the mythological serpent which start with the letter z <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q16326794 mythological serpent
Gold: select distinct ?vr0 ?vr0_label where { ?vr0 wdt: p31 wd: q16326794 . ?vr0 rdfs:label ?vr0_label . filter ( strstarts ( lcase ( ?vr0_label ) , ' ž ' ) ) . filter ( lang ( ?vr0_label ) = ' en ' ) } limit 25
Gene: select distinct ?vr0 ?vr0_label where { ?vr0 wdt: p31 wd: q16326794 . ?vr0 rdfs:label ?vr0_label . filter ( strstarts ( lcase ( ?vr0_label ) , ' z ' ) ) . filter ( lang ( ?vr0_label ) = ' en ' ) } limit 25

Input: Is the gestation period of the Gorilla less than 324.0? <extra_id_59> <extra_id_54>  p3063 <extra_id_60>  <extra_id_59> <extra_id_53>  q36611 Gorilla
Gold: ask where { wd: q36611 wdt: p3063 ?vr0 filter ( ?vr0 < 324 . 0 ) }
Gene: ask where { wd: q36611 wdt: p3063 ?vr0 filter ( ?vr0 < 3244 . 0 ) }

Input: What country is Salman of Saudi Arabia a citizen of? <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q367825 Salman of Saudi Arabia  <extra_id_59> <extra_id_53>  q3624078 sovereign state  <extra_id_59> <extra_id_54>  p27 <extra_id_60>
Gold: select distinct ?vr0 where { wd: q367825 wdt: p27 ?vr0 . ?vr0 wdt: p31 wd: q3624078 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p27 wd: q367825 . ?vr0 wdt: p31 wd: q3624078 }

Input: Where is Clara Schumann buried in Alter Friedhof? <extra_id_59> <extra_id_53>  q318822 Alter Friedhof  <extra_id_59> <extra_id_57>  p625 <extra_id_60>  <extra_id_59>  <extra_id_56>  p119 <extra_id_60>  <extra_id_59>  <extra_id_55>  p119 <extra_id_60>  <extra_id_59> <extra_id_53>  q132232 Clara Schumann
Gold: select ?vr1 where { wd: q132232 p: p119 ?vr0 . ?vr0 ps: p119 wd: q318822 . ?vr0 pq: p625 ?vr1 }
Gene: select ?vr0 where { wd: q132232 p: p119 ?vr1 . ?vr1 ps: p119 ?vr0 . ?vr1 pq: p625 wd: q318822 }

Input: Who are the writers mentioned in Bertie the Bus? <extra_id_59> <extra_id_53>  q4895666 Bertie the Bus  <extra_id_59> <extra_id_54>  p1441 <extra_id_60>  <extra_id_59> <extra_id_54>  p50 <extra_id_60>
Gold: select ?vr0 where { wd: q4895666 wdt: p1441 ?vr1 . ?vr1 wdt: p50 ?vr0 }
Gene: select ?vr0 where { wd: q4895666 wdt: p50 ?vr1 . ?vr1 wdt: p1441 ?vr0 }

Input: Which is   prequel  game platform of The Sims 2: Pets ? <extra_id_59> <extra_id_54>  p156 <extra_id_60>  <extra_id_59> <extra_id_53>  q751329 The Sims 2: Pets  <extra_id_59> <extra_id_54>  p400 <extra_id_60>
Gold: select ?vr0 where { wd: q751329 wdt: p400 ?vr1 . ?vr1 wdt: p156 ?vr0 }
Gene: select ?vr0 where { wd: q751329 wdt: p156 ?vr1 . ?vr1 wdt: p400 ?vr0 }

Input: Who painted the figures of 'Wolves Beyond the Border'? <extra_id_59> <extra_id_53>  q8030575 Wolves Beyond the Border  <extra_id_59> <extra_id_54>  p674 <extra_id_60>  <extra_id_59> <extra_id_54>  p170 <extra_id_60>
Gold: select ?vr0 where { wd: q8030575 wdt: p674 ?vr1 . ?vr1 wdt: p170 ?vr0 }
Gene: select ?vr0 where { wd: q8030575 wdt: p170 ?vr1 . ?vr1 wdt: p674 ?vr0 }

Input: How many people speak the Urdu language? <extra_id_59> <extra_id_54>  p1098 <extra_id_60>  <extra_id_59> <extra_id_53>  q1617 Urdu
Gold: select distinct ?vr0 where { wd: q1617 wdt: p1098 ?vr0 }
Gene: select ( count ( ?vr0 ) as ?vr1 ) { ?vr0 wdt: p1098 wd: q1617 }

Input: hat is the source of energy for this heat? <extra_id_59> <extra_id_53>  q44432 heat  <extra_id_59> <extra_id_54>  p618 <extra_id_60>
Gold: select distinct ?vr0 where { ?vr0 wdt: p618 wd: q44432 }
Gene: select distinct ?vr0 where { wd: q44432 wdt: p618 ?vr0 }

Input: Who are some famous people educated at McGill University? <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q201492 McGill University  <extra_id_59> <extra_id_54>  p69 <extra_id_60>  <extra_id_59> <extra_id_53>  q5 human
Gold: select distinct ?vr0 where { ?vr0 wdt: p69 wd: q201492 . ?vr0 wdt: p31 wd: q5 }
Gene: select distinct ?vr0 where { wd: q201492 wdt: p69 ?vr0 . ?vr0 wdt: p31 wd: q5 }

Input: Is Nokia's operating income -1.1 billion? <extra_id_59> <extra_id_53>  q1418 Nokia  <extra_id_59> <extra_id_54>  p3362 <extra_id_60>
Gold: ask where { wd: q1418 wdt: p3362 ?vr0 filter ( ?vr0 = -1100000000 ) }
Gene: ask where { wd: q1418 wdt: p3362 ?vr0 filter ( ?vr0 = -1 . 1 ) }

Input: How many settlements are in Tilburg? <extra_id_59> <extra_id_54>  p1383 <extra_id_60>  <extra_id_59> <extra_id_53>  q26430 Tilburg
Gold: select ( count ( ?vr0 ) as ?vr1 ) { wd: q26430 wdt: p1383 ?vr0 }
Gene: select ( count ( ?vr0 ) as ?vr1 ) { ?vr0 wdt: p1383 wd: q26430 }

Input: What is the occupation that both Coen brothers have? <extra_id_59> <extra_id_53>  q56095 Coen brothers  <extra_id_59> <extra_id_54>  p3989 <extra_id_60>  <extra_id_59> <extra_id_54>  p460 <extra_id_60>  <extra_id_59> <extra_id_53>  q56095 Coen brothers
Gold: select ?vr0 ?vr1 where { wd: q56095 wdt: p3989 ?vr0 . wd: q56095 wdt: p460 ?vr1 }
Gene: select ?vr0 ?vr1 where { wd: q56095 wdt: p460 ?vr0 . wd: q56095 wdt: p3989 ?vr1 }

Input: How many eMedicine are acromegaly? <extra_id_59> <extra_id_53>  q189580 acromegaly  <extra_id_59> <extra_id_54>  p673 <extra_id_60>
Gold: select ( count ( ?vr0 ) as ?vr1 ) { wd: q189580 wdt: p673 ?vr0 }
Gene: select ( count ( ?vr0 ) as ?vr1 ) { ?vr0 wdt: p673 wd: q189580 }

Input: Which is the capital of the Duchy of Burgundy? <extra_id_59> <extra_id_53>  q4712 Duchy of Burgundy  <extra_id_59> <extra_id_54>  p1376 <extra_id_60>
Gold: select distinct ?vr0 where { ?vr0 wdt: p1376 wd: q4712 }
Gene: select distinct ?vr0 where { wd: q4712 wdt: p1376 ?vr0 }

Input: Which political party is Nicolas Sarkozy member of? <extra_id_59> <extra_id_54>  p102 <extra_id_60>  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q7278 political party  <extra_id_59> <extra_id_53>  q329 Nicolas Sarkozy
Gold: select distinct ?vr0 where { wd: q329 wdt: p102 ?vr0 . ?vr0 wdt: p31 wd: q7278 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p102 wd: q329 . ?vr0 wdt: p31 wd: q7278 }

Input: What is the convicted of and the member of of Axl_Rose ? <extra_id_59> <extra_id_54>  p1399 <extra_id_60>  <extra_id_59> <extra_id_54>  p463 <extra_id_60>  <extra_id_59> <extra_id_53>  q11885 Axl Rose  <extra_id_59> <extra_id_53>  q11885 Axl Rose
Gold: select ?vr0 ?vr1 where { wd: q11885 wdt: p1399 ?vr0 . wd: q11885 wdt: p463 ?vr1 }
Gene: select ?vr0 ?vr1 where { wd: q11885 wdt: p463 ?vr0 . wd: q11885 wdt: p1399 ?vr1 }

Input: What is the sex or gender and the religion of Eddie_Izzard ? <extra_id_59> <extra_id_53>  q254022 Eddie Izzard  <extra_id_59> <extra_id_54>  p21 <extra_id_60>  <extra_id_59> <extra_id_54>  p140 <extra_id_60>  <extra_id_59> <extra_id_53>  q254022 Eddie Izzard
Gold: select ?vr0 ?vr1 where { wd: q254022 wdt: p21 ?vr0 . wd: q254022 wdt: p140 ?vr1 }
Gene: select ?vr0 ?vr1 where { wd: q254022 wdt: p140 ?vr0 . wd: q254022 wdt: p21 ?vr1 }

Input: Who was Oracle Corporation taken over by <extra_id_59> <extra_id_54>  p1366 <extra_id_60>  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q4830453 business  <extra_id_59> <extra_id_53>  q19900 Oracle
Gold: select distinct ?vr0 where { ?vr0 wdt: p1366 wd: q19900 . ?vr0 wdt: p31 wd: q4830453 }
Gene: select distinct ?vr0 where { wd: q19900 wdt: p1366 ?vr0 . ?vr0 wdt: p31 wd: q4830453 }

Input: What is the business with the least debt on the Euronext? <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q842108 Euronext  <extra_id_59> <extra_id_54>  p2133 <extra_id_60>  <extra_id_59> <extra_id_54>  p414 <extra_id_60>  <extra_id_59> <extra_id_53>  q4830453 business
Gold: select ?vr0 where { ?vr0 wdt: p31 wd: q4830453 . ?vr0 wdt: p2133 ?vr1 . ?vr0 wdt: p414 wd: q842108 } order by asc ( ?vr1 ) limit 5
Gene: select ?vr0 where { ?vr0 wdt: p31 wd: q4830453 . ?vr0 wdt: p2133 ?vr1 . ?vr0 wdt: p414 wd: q842108 . } order by asc ( ?vr1 ) limit 5

Input: Who are the children of Tigranes the Great, who died from decapitation? <extra_id_59> <extra_id_54>  p509 <extra_id_60>  <extra_id_59> <extra_id_53>  q201303 Tigranes the Great  <extra_id_59> <extra_id_54>  p40 <extra_id_60>  <extra_id_59> <extra_id_53>  q204933 decapitation
Gold: select ?vr0 where { wd: q201303 wdt: p40 ?vr0 . ?vr0 wdt: p509 wd: q204933 }
Gene: select ?vr0 where { wd: q201303 wdt: p509 ?vr0 . ?vr0 wdt: p40 wd: q204933 }

Input: Who is the spouse, and what position does Derek Jeter play in? <extra_id_59> <extra_id_54>  p413 <extra_id_60>  <extra_id_59> <extra_id_54>  p26 <extra_id_60>  <extra_id_59> <extra_id_53>  q353511 Derek Jeter  <extra_id_59> <extra_id_53>  q353511 Derek Jeter
Gold: select ?vr0 ?vr1 where { wd: q353511 wdt: p26 ?vr0 . wd: q353511 wdt: p413 ?vr1 }
Gene: select ?vr0 ?vr1 where { wd: q353511 wdt: p413 ?vr0 . wd: q353511 wdt: p26 ?vr1 }

Input: What is the opposite of summer? <extra_id_59> <extra_id_53>  q1313 summer  <extra_id_59> <extra_id_54>  p461 <extra_id_60>
Gold: select distinct ?vr0 where { wd: q1313 wdt: p461 ?vr0 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p461 wd: q1313 }

Input: Who is the mother of Antonio Vivaldi? <extra_id_59> <extra_id_54>  p25 <extra_id_60>  <extra_id_59> <extra_id_53>  q1340 Antonio Vivaldi  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q5 human
Gold: select distinct ?vr0 where { wd: q1340 wdt: p25 ?vr0 . ?vr0 wdt: p31 wd: q5 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p25 wd: q1340 . ?vr0 wdt: p31 wd: q5 }

Input: Who was Louis XVIII of France's doctor ? <extra_id_59> <extra_id_53>  q5 human  <extra_id_59> <extra_id_53>  q7750 Louis XVIII of France  <extra_id_59> <extra_id_54>  p3205 <extra_id_60>  <extra_id_59> <extra_id_54>  p31 <extra_id_60>
Gold: select distinct ?vr0 where { wd: q7750 wdt: p3205 ?vr0 . ?vr0 wdt: p31 wd: q5 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p3205 wd: q7750 . ?vr0 wdt: p31 wd: q5 }

Input: how many number of deaths for measles ? <extra_id_59> <extra_id_54>  p1120 <extra_id_60>  <extra_id_59> <extra_id_53>  q79793 measles
Gold: select distinct ?vr0 where { wd: q79793 wdt: p1120 ?vr0 }
Gene: select ( count ( ?vr0 ) as ?vr1 ) { wd: q79793 wdt: p1120 ?vr0 }

Input: Who is the child of the father of Hamengkubuwono V? <extra_id_59> <extra_id_54>  p3373 <extra_id_60>  <extra_id_59> <extra_id_53>  q2581159 Hamengkubuwono V  <extra_id_59> <extra_id_54>  p22 <extra_id_60>
Gold: select ?vr0 where { wd: q2581159 wdt: p22 ?vr1 . ?vr1 wdt: p3373 ?vr0 }
Gene: select ?vr0 where { wd: q2581159 wdt: p3373 ?vr1 . ?vr1 wdt: p22 ?vr0 }

Input: Who is the student of Louis Pasteur? <extra_id_59> <extra_id_54>  p802 <extra_id_60>  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q5 human  <extra_id_59> <extra_id_53>  q529 Louis Pasteur
Gold: select distinct ?vr0 where { wd: q529 wdt: p802 ?vr0 . ?vr0 wdt: p31 wd: q5 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p802 wd: q529 . ?vr0 wdt: p31 wd: q5 }

Input: What is the health specialty and the genetic association of Dyslexia ? <extra_id_59> <extra_id_54>  p2293 <extra_id_60>  <extra_id_59> <extra_id_53>  q132971 dyslexia  <extra_id_59> <extra_id_53>  q132971 dyslexia  <extra_id_59> <extra_id_54>  p1995 <extra_id_60>
Gold: select ?vr0 ?vr1 where { wd: q132971 wdt: p1995 ?vr0 . wd: q132971 wdt: p2293 ?vr1 }
Gene: select ?vr0 ?vr1 where { wd: q132971 wdt: p2293 ?vr0 . wd: q132971 wdt: p1995 ?vr1 }

Input: What criteria was used for the world junior records in athletics? <extra_id_59>  <extra_id_56>  p2869 <extra_id_60>  <extra_id_59> <extra_id_53>  q542 athletics  <extra_id_59> <extra_id_53>  q592883 list of world junior records in athletics  <extra_id_59>  <extra_id_55>  p2869 <extra_id_60>  <extra_id_59> <extra_id_57>  p1013 <extra_id_60>
Gold: select ?vr1 where { wd: q542 p: p2869 ?vr0 . ?vr0 ps: p2869 wd: q592883 . ?vr0 pq: p1013 ?vr1 }
Gene: select ?vr0 where { wd: q592883 p: p2869 ?vr1 . ?vr1 ps: p2869 ?vr0 . ?vr1 pq: p1013 wd: q542 }

Input: Which is the transcontinental country for the location of the French invasion of Russia? <extra_id_59> <extra_id_54>  p276 <extra_id_60>  <extra_id_59> <extra_id_53>  q1323642 transcontinental country  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q179250 French invasion of Russia
Gold: select distinct ?vr0 where { wd: q179250 wdt: p276 ?vr0 . ?vr0 wdt: p31 wd: q1323642 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p276 wd: q179250 . ?vr0 wdt: p31 wd: q1323642 }


In [ ]:
for x in [0, 1, 2, 3, 10]:
    show(x)
    print()

Input: What insecticide has the lowest combustion point? <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q181322 insecticide  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q21073024 flammable solid  <extra_id_59> <extra_id_54>  p2107 <extra_id_60>
Gold: select ?vr0 where { ?vr0 wdt: p31 wd: q21073024 . ?vr0 wdt: p2107 ?vr1 . ?vr0 wdt: p31 wd: q181322 } order by asc ( ?vr1 ) limit 5
Gene: select ?vr0 where { ?vr0 wdt: p31 wd: q181322 . ?vr0 wdt: p2107 ?vr1 . ?vr0 wdt: p31 wd: q2107 } order by asc ( ?vr1 ) limit 5

Input: What is the type of government of Saint Christopher in the Historical Period? <extra_id_59> <extra_id_54>  p122 <extra_id_60>  <extra_id_59> <extra_id_53>  q193507 Saint Christopher  <extra_id_59> <extra_id_54>  p2348 <extra_id_60>
Gold: select ?vr0 where { wd: q193507 wdt: p2348 ?vr1 . ?vr1 wdt: p122 ?vr0 }
Gene: select ?vr0 where { wd: q193507 wdt: p122 ?vr1 . ?vr1 wdt: p2348 ?vr0 }

Input: What kind of specialty doctor diagnoses schizotypal personality disorder? <extra_id_59> <extra_id_54>  p1995 <extra_id_60>  <extra_id_59> <extra_id_53>  q861560 schizotypal personality disorder  <extra_id_59> <extra_id_54>  p3095 <extra_id_60>
Gold: select ?vr0 where { wd: q861560 wdt: p1995 ?vr1 . ?vr1 wdt: p3095 ?vr0 }
Gene: select ?vr0 where { wd: q861560 wdt: p3095 ?vr1 . ?vr1 wdt: p1995 ?vr0 }

Input: how many records are held for pole vaulting? <extra_id_59> <extra_id_54>  p1000 <extra_id_60>  <extra_id_59> <extra_id_53>  q185027 pole vault
Gold: select ( count ( ?vr0 ) as ?vr1 ) { ?vr0 wdt: p1000 wd: q185027 }
Gene: select ( count ( ?vr0 ) as ?vr1 ) { wd: q185027 wdt: p1000 ?vr0 }

Input: Which is the melting point of lindane? <extra_id_59> <extra_id_54>  p2101 <extra_id_60>  <extra_id_59> <extra_id_53>  q282003 lindane
Gold: select distinct ?vr0 where { wd: q282003 wdt: p2101 ?vr0 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p2101 wd: q282003 }

In [ ]:
for x in range(6, 10):
    show(x)
    print()

Input: Who is the human with the MIN(Erdős number) whose occupation is mathematician ? <extra_id_59> <extra_id_54>  p106 <extra_id_60>  <extra_id_59> <extra_id_53>  q170790 mathematician  <extra_id_59> <extra_id_54>  p2021 <extra_id_60>  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q5 human
Gold: select ?vr0 where { ?vr0 wdt: p31 wd: q5 . ?vr0 wdt: p2021 ?vr1 . ?vr0 wdt: p106 wd: q170790 . } order by asc ( ?vr1 ) limit 5
Gene: select ?vr0 where { ?vr0 wdt: p31 wd: q5 . ?vr0 wdt: p2021 ?vr1 . ?vr0 wdt: p106 wd: q170790 } order by asc ( ?vr1 ) limit 5

Input: Is it true that the number of works of the Boston Public Library is more than 17880000.0? <extra_id_59> <extra_id_53>  q894583 Boston Public Library  <extra_id_59> <extra_id_54>  p3740 <extra_id_60>
Gold: ask where { wd: q894583 wdt: p3740 ?vr0 filter ( ?vr0 > 17880000 . 0 ) }
Gene: ask where { wd: q894583 wdt: p3740 ?vr0 filter ( ?vr0 > 1788000 . 0 ) }

Input: Where is the name of the continent of the mountain belt in Mount Caywood? <extra_id_59> <extra_id_54>  p30 <extra_id_60>  <extra_id_59> <extra_id_53>  q6920087 Mount Caywood  <extra_id_59> <extra_id_54>  p4552 <extra_id_60>
Gold: select ?vr0 where { wd: q6920087 wdt: p4552 ?vr1 . ?vr1 wdt: p30 ?vr0 }
Gene: select ?vr0 where { wd: q6920087 wdt: p30 ?vr1 . ?vr1 wdt: p4552 ?vr0 }

Input: How many people are on the New York Yankees? <extra_id_59> <extra_id_54>  p466 <extra_id_60>  <extra_id_59> <extra_id_53>  q213417 New York Yankees
Gold: select ( count ( ?vr0 ) as ?vr1 ) { ?vr0 wdt: p466 wd: q213417 }
Gene: select ( count ( ?vr0 ) as ?vr1 ) { wd: q213417 wdt: p466 ?vr0 }

In [ ]:
for x in range(10,16):
    show(x)
    print()

Input: Which is the melting point of lindane? <extra_id_59> <extra_id_54>  p2101 <extra_id_60>  <extra_id_59> <extra_id_53>  q282003 lindane
Gold: select distinct ?vr0 where { wd: q282003 wdt: p2101 ?vr0 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p2101 wd: q282003 }

Input: Which kind of weather caused by coldburst contains the word "rain" in its name ? <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_54>  p828 <extra_id_60>  <extra_id_59> <extra_id_53>  q1292121 shower  <extra_id_59> <extra_id_53>  q11663 weather
Gold: select distinct ?vr0 ?vr0_label where { ?vr0 wdt: p31 wd: q11663 . ?vr0 wdt: p828 wd: q1292121 . ?vr0 rdfs:label ?vr0_label . filter ( contains ( lcase ( ?vr0_label ) , ' rain ' ) ) . filter ( lang ( ?vr0_label ) = ' en ' ) } limit 25
Gene: select distinct ?vr0 ?vr0_label where { ?vr0 wdt: p31 wd: q1292121 . ?vr0 wdt: p828 wd: q11663 . ?vr0 rdfs:label ?vr0_label . filter ( contains ( lcase ( ?vr0_label ) , ' rain ' ) ) . filter ( lang ( ?vr0_label ) = ' en ' ) } limit 25

Input: Name the country associated with Himachal Pradesh. <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q1177 Himachal Pradesh  <extra_id_59> <extra_id_53>  q6256 country  <extra_id_59> <extra_id_54>  p17 <extra_id_60>
Gold: select distinct ?vr0 where { wd: q1177 wdt: p17 ?vr0 . ?vr0 wdt: p31 wd: q6256 }
Gene: select distinct ?vr0 where { ?vr0 wdt: p17 wd: q1177 . ?vr0 wdt: p31 wd: q6256 }

Input: What sovereign state belonging to the International Finance Corporation has the lowest unemployment rate? <extra_id_59> <extra_id_54>  p1198 <extra_id_60>  <extra_id_59> <extra_id_54>  p31 <extra_id_60>  <extra_id_59> <extra_id_53>  q656801 International Finance Corporation  <extra_id_59> <extra_id_54>  p463 <extra_id_60>  <extra_id_59> <extra_id_53>  q3624078 sovereign state
Gold: select ?vr0 where { ?vr0 wdt: p31 wd: q3624078 . ?vr0 wdt: p1198 ?vr1 . ?vr0 wdt: p463 wd: q656801 } order by asc ( ?vr1 ) limit 5
Gene: select ?vr0 where { ?vr0 wdt: p31 wd: q3624078 . ?vr0 wdt: p1198 ?vr1 . ?vr0 wdt: p463 wd: q656801 . } order by asc ( ?vr1 ) limit 5

Input: What is plays of Axl Rose Fernando that has discovered is Bartolomeo Cristofori? <extra_id_59> <extra_id_53>  q11885 Axl Rose  <extra_id_59> <extra_id_54>  p1303 <extra_id_60>  <extra_id_59> <extra_id_54>  p61 <extra_id_60>  <extra_id_59> <extra_id_53>  q301597 Bartolomeo Cristofori
Gold: select ?vr0 where { wd: q11885 wdt: p1303 ?vr0 . ?vr0 wdt: p61 wd: q301597 }
Gene: select ?vr0 where { wd: q11885 wdt: p61 ?vr0 . ?vr0 wdt: p1303 wd: q301597 }

Input: When did the Pridnestrovian Moldavian Republic have the head of state of Yevgeny Shevchuk? <extra_id_59>  <extra_id_56>  p35 <extra_id_60>  <extra_id_59> <extra_id_57>  p39 <extra_id_60>  <extra_id_59> <extra_id_53>  q907112 Transnistria  <extra_id_59> <extra_id_53>  q188409 Yevgeny Shevchuk  <extra_id_59>  <extra_id_55>  p35 <extra_id_60>
Gold: select ?vr1 where { wd: q907112 p: p35 ?vr0 . ?vr0 ps: p35 wd: q188409 . ?vr0 pq: p39 ?vr1 }
Gene: select ?vr1 where { wd: q188409 p: p35 ?vr0 . ?vr0 ps: p35 wd: q907112 . ?vr0 pq: p39 ?vr1 }

In [ ]:
print(f"Accuracy: {len(df_true) / len(df_raw)}")

Accuracy: 0.7845326716294458

In [ ]:
df_false[df_false["generated"].str.contains("ask")].index

Int64Index([  27,   80,  128,  383,  400,  494,  633,  643,  838,  882,  897,
             967, 1003, 1066, 1106, 1144, 1179, 1199, 1215, 1360, 1432, 1512,
            1531, 1542, 1560, 1663, 1677, 1801, 1852, 1877, 1885, 2076, 2128,
            2137, 2143, 2198, 2244, 2334, 2403],
           dtype='int64')

In [ ]:
def show_false(index):
    print(f"Input: {df_false[df_false.index == index].input.iloc[0]}")
    print(f"Gold: {df_false[df_false.index == index].gold.iloc[0]}")
    print(f"Gene: {df_false[df_false.index == index].generated.iloc[0]}")

In [ ]:
df_false[df_false["generated"].str.contains("ask") & df_false["gold"].str.contains("select")]

,input,gold,generated
2198,how many bug tracking systems does tencent qq ...,select ( count ( ?vr0 ) as ?vr1 ) { wd: q85764...,ask where { wd: q857640 wdt: p1401 wd: qq }

In [ ]:
show_false(2198)

Input: how many bug tracking systems does tencent qq have? <extra_id_59> <extra_id_53>  q857640 Tencent QQ  <extra_id_59> <extra_id_54>  p1401 <extra_id_60>
Gold: select ( count ( ?vr0 ) as ?vr1 ) { wd: q857640 wdt: p1401 ?vr0 }
Gene: ask where { wd: q857640 wdt: p1401 wd: qq }